.div1{
    background-color: lightblue;
    float: left;
    padding: 30px;
}
.div2{
    background-color: red;
    float: right;
    padding: 30px;
}
.div3{
    background-color: yellow;
    padding: 30px;
    float: left;
}